#feed-upload {
    display: flex;
}

#feed-image {
    background-color: beige;
}

#feed-info {}

#feed-title {
    background-color: #e45d5d;
}

#feed-detail {
    background-color: #fca5a5;
}


#feed-loc {
    background-color: blanchedalmond;

}