#banner {
    display: flex;
}

#banner1 {
    width: 1000px;
    background-color: #d69c9c;
}

#banner2 {
    width: 500px;
    background-color: #ee6b6b;
}

#contents {
    width: 100%;
    display: flex;
}

#feeds {
    width: 1000px;
    display: flex;
    background-color: #d3ffa3;
}

#events {
    display: flex;
    width: 1000px;
    background-color: #ced6ff;
}

#news {
    width: 500px;
    background-color: #ffdaf7;
}