#banner {
    display: flex;
}

#banner1 {
    width: 800px;
    height: 200px;
    background-color: #d69c9c;
    padding: 100px;
}

#banner2 {
    width: 500px;
    background-color: #ee6b6b;
    padding: 100px;
    height: 200px;
}

#content1_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#content2_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content3_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#contents {
    display: flex;
}

#feeds {
    width: 850px;
    display: flex;
    /* background-color: #d3ffa3; */
    height: 300px;
}

#events {
    display: flex;
    width: 850px;
    /* background-color: #ced6ff; */
    height: 300px;
}

#news {
    width: 400px;
    /* background-color: #ffdaf7; */
}

#content2 {
    padding-left: 50px;
}